---

---

<div
  class="prose text-black dark:prose-invert prose-p:text-justify prose-a:text-black hover:prose-a:text-white prose-code:text-black prose-code:before:content-none prose-code:after:content-none prose-img:rounded-xl dark:text-white dark:prose-a:text-white"
>
  <slot />
</div>
